<% layout('layouts/boilerplate')%>
    <h1>
        <%=giftItem.name%>
    </h1>
    <a href="/giftitems/<%=giftItem._id%>/edit">Edit Gift Item</a>
    <a href="/giftitems">All Gift Items</a>
    <p>Price: $<%=giftItem.unit_price%><br>
            In Stock: <%=giftItem.units_owned%>
    </p>
    <form action="/giftItems/<%=giftItem._id%>/?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>