<% layout('layouts/boilerplate')%>
    <div class="row mb-3">
        <div class="col-6">
            <div class="card mb-3">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title mb-3 text-center">
                        <%=giftCampaign.name%>
                    </h3>
                    <div class="card-text">
                        <% for(let campaign of giftCampaign.contents) { %>
                            <div class="card container mb-3">
                                <div class="card-body row d-flex align-items-center">
                                    <p class="card-title col-6 mb-0">
                                        <%=campaign.gift_item.name%>
                                    </p>
                                    <p class="card-text text-end col-2 mb-0">
                                        <%=campaign.gift_item_count%> x
                                    </p>
                                    <p class="card-text col-2 mb-0">
                                        $<%=campaign.gift_item.unit_price%>
                                    </p>
                                    <form class="d-inline col-1"
                                        action="/giftcampaigns/<%=giftCampaign._id%>/add?_method=PUT" method="POST">
                                        <input hidden value="<%=campaign.gift_item._id%>" name="id" />
                                        <button class="btn btn-success btn-sm"><i class="fas fa-plus"></i></button>
                                    </form>
                                    <form class="d-inline col-1"
                                        action="/giftcampaigns/<%=giftCampaign._id%>/remove?_method=DELETE"
                                        method="POST">
                                        <input hidden value="<%=campaign.gift_item._id%>" name="id" />
                                        <button class="btn btn-danger btn-sm"><i class="fas fa-minus"></i></button>
                                    </form>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Status: <%=giftCampaign.status%>
                    </li>
                    <li class="list-group-item text-muted">Dispatch Date: <%= (giftCampaign.dispatch_date.getMonth() +
                            1) + '/' + giftCampaign.dispatch_date.getDate() + '/' +
                            giftCampaign.dispatch_date.getFullYear()%>
                    </li>
                    <li class="list-group-item text-muted">Delivery Date:
                        <%=(giftCampaign.delivery_date.getMonth() + 1) + '/' + giftCampaign.delivery_date.getDate()
                            + '/' + giftCampaign.delivery_date.getFullYear() %>
                    </li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-success" href="/giftcampaigns/<%=giftCampaign._id%>/edit">Edit</a>
                    <form class="d-inline" action="/giftCampaigns/<%=giftCampaign._id%>/?_method=DELETE" method="POST">
                        <button class="card-link btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div class="mb-3 col-6">
            <% if(currentUser) { %>
                <h2>Leave a Review</h2>
                <form action="/giftcampaigns/<%=giftCampaign._id%>/reviews" method="POST" class="mb-3 validated-form"
                    novalidate>
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input class="form-range" name="review[rating]" type="range" min="1" max="5" id="rating">
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Review</label>
                        <textarea name="review[body]" class="form-control" id="body" cols="30" rows="3"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <% } %>
                    <% for(let review of giftCampaign.reviews){ %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Rating: <%=review.rating%>
                                </h5>
                                <h6 class="card-subtitle text-muted mb-1">
                                    <%=review.author.username%>
                                </h6>
                                <p class="card-text">
                                    <%=review.body%>
                                </p>
                                <form
                                    action="/giftcampaigns/<%=giftCampaign._id%>/reviews/<%=review._id%>?_method=DELETE"
                                    method="POST">
                                    <% if(currentUser && review.author.equals(currentUser._id)) { %>
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                        <%}%>
                                </form>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>

    <h3 class="mb-3">Add Gift Items:</h3>
    <div class="row mb-3">
        <% for(let giftItem of giftItems) { %>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card mb-3">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <%=giftItem.name%>
                        </h5>
                        <p class="card-text">Price: $<%=giftItem.unit_price%>
                        </p>
                        <div>
                            <form class="d-inline" action="/giftcampaigns/<%=giftCampaign._id%>/add?_method=PUT"
                                method="POST">
                                <input hidden value="<%=giftItem._id%>" name="id" />
                                <button class="btn btn-success"><i class="fas fa-plus"></i></button>
                            </form>
                            <form class="d-inline" action="/giftcampaigns/<%=giftCampaign._id%>/remove?_method=DELETE"
                                method="POST">
                                <input hidden value="<%=giftItem._id%>" name="id" />
                                <button class="btn btn-danger d-none"><i class="fas fa-minus"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>